:root {
    --accent-color: #2196F3;
    --first-color: #212121;
    --white-color: #ffffff;
    --black-color:  #000000;
     }
body {
    font-family: 'Roboto',
                sans-serif;
                color: #757575;
     }
    /* -----------logo--------------- */
        /*ul {
         list-style-type:none;
        }*/
    .logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;  
        letter-spacing: 0.03em;
        /*color: #000000;*/
        color: var(--black-color);
        
    }
             
        /* -----------header navigation--------------- */
    .header-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;        
            color:  var(--first-color);
    }
    /*.mail-tel {
        color: var(--second-color);        
    }*/
    .logo-web,
    .link:hover,
    .link:focus  {
            color: var(--accent-color)
    }

        /*-----------------HERO--------------------------*/
    .hero-title {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;        
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;       
            color: var(--white-color);
            background-color: #2F303A; /*temp*/

    }  
    .btn {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;            
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        color: var(--white-color);        
        cursor: pointer;
    } 
        .btn:hover,
        .btn:focus {
            background: #2196F3;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
        }
        /*-----------------Our advantages---------------------*/
        .title-advantages {
                font-weight: 700;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.03em;
                text-transform: uppercase;            
                color: var (--first-color);
        }
        .item-advantages {
                font-size: 14px;
                line-height: 1.71;            
                letter-spacing: 0.03em;            
                /*color: var(--second-color);*/
                color: inherit;
        }
        /*-----------------What do we do?---------------------*/
        .title-common {
                font-weight: 700;
                font-size: 36px;
                line-height: 1.16;
                text-align: center;
                letter-spacing: 0.03em;
                color: var (--first-color);
        }    
        .first-last-name {
                font-weight: 500;
                font-size: 16px;
                line-height: 1.18;            
                text-align: center;
                letter-spacing: 0.03em;            
                color: var (--first-color);
        }
        .position {                
                font-size: 16px;
                line-height: 1.18;
                text-align: center;
                letter-spacing: 0.03em;
                /*color: var(--second-color);*/
        }
        .logo-footer {
            font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 1.19;            
                letter-spacing: 0.03em;            
                color: var(--white-color);
                background-color: #2F303A;  /*temp*/
        }
        .addres-footer {
                font-style: normal;
                font-size: 14px;
                line-height: 1.71;           
                letter-spacing: 0.03em;           
                color: var(--white-color);
                background-color: #2F303A;  /*temp*/
        }
        .mail-tel-footer {
                font-style: normal;
                font-size: 14px;
                line-height: 1.71;            
                letter-spacing: 0.03em;            
                color: rgba(255, 255, 255, 0.6);
                background-color: #2F303A;   /*temp*/
        }
        /*---------------------portfolio----------------*/
        .btn-stile {
            font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.85;
                text-align: center;
                letter-spacing: 0.03em;
                color: var(--first-color);
                cursor: pointer;
        }
        .btn-stile:hover,
        .btn-stile:focus {
                color: #FFFFFF;
                background: #2196F3;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
        }
        .name-project {
            font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 2;
                letter-spacing: 0.06em;
                color: var (--first-color);
        }
        .type-of-work {
                font-size: 16px;
                line-height: 1.88; 
                letter-spacing: 0.03em;            
        }
                                
