:root {
    --accent-color:#2196F3;
    --first-color:#212121;
    --white-color:#ffffff;
    --black-color:#000000;
    --gray-color:#757575;
    --bkgr-color: #2F303A;
     }
body {
    font-family: 'Roboto',
                sans-serif;
                color: var(--gray-color);
                font-size: 14px;
                background-color: var(--white-color);
                letter-spacing: 0.03em;
     }
    /* -----------logo--------------- */
        .list {
         list-style-type: none;
                }
    .logo {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;        
        color: var(--black-color);
        
    }
             
        /* -----------header navigation--------------- */
    .header-link {
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;        
            color: var(--first-color);
    }
    .mail-tel {
        color: var(--gray-color);        
    }
    .link {
        text-decoration: none
    }
    .logo-web,
    .link:hover,
    .link:focus  {
            color: var(--accent-color);
    }

        /*-----------------HERO--------------------------*/
    .hero-title {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;        
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;       
            color: var(--white-color);
            background: var(--bkgr-color);
        }  
    .btn {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;            
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: var(--white-color);        
            cursor: pointer;
            background: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
    } 
        .btn:hover,
        .btn:focus {
            background: var(--gray-color);              
        }
        /*-----------------Our advantages---------------------*/
        .advantages-text {
                font-size: 14px;
                line-height: 1.14;
                text-transform: uppercase;            
                color: var(--first-color);
        }
        .item-advantages {
                font-size: 14px;
                line-height: 1.71;            
                letter-spacing: 0.03em;
                color: inherit;
        }
        /*-----------------What do we do?---------------------*/
        .section-title {
                font-size: 36px;
                line-height: 1.16;
                text-align: center;
                color: var(--first-color);
        }    
        .team-name {
                font-weight: 500;
                font-size: 16px;
                line-height: 1.18;            
                text-align: center;
                letter-spacing: 0.03em;            
                color: var(--first-color);
        }
        .position {                
                font-size: 16px;
                line-height: 1.18;
                text-align: center;
                /*color: var(--second-color);*/
        }
        .style-footer {
                background: var(--bkgr-color);
        }
        
        .logo-footer {
            font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 1.19;            
                letter-spacing: 0.03em;            
                color: var(--white-color);
        }
        .addres-footer {
                font-style: normal;
                line-height: 1.71; 
                color: var(--white-color);
        }
        .mail-tel-footer {
                font-style: normal; 
                line-height: 1.71; 
                color: rgba(255, 255, 255, 0.6);
        }
        /*---------------------portfolio----------------*/
        .btn-stile {
            font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.85;
                text-align: center;
                letter-spacing: 0.03em;
                color: var(--first-color);
                cursor: pointer;
        }
        .btn-stile:hover,
        .btn-stile:focus {
                color: #FFFFFF;
                background: #2196F3;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
        }
        .name-project {
            font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 2;
                letter-spacing: 0.06em;
                color: var (--first-color);
        }
        .type-of-work {
                font-size: 16px;
                line-height: 1.88; 
                letter-spacing: 0.03em;            
        }
                                
